#app {
    height: 100%;
}

.query {
    height: 40px;
    display: flex;
    align-items: center;
}

.viewer {
    display: flex;
    width: 100%;
    height: calc(100% - 40px);
}

.jobs-list {
    min-width: 400px;
    overflow-y: auto;
}

.view-pane {
    overflow-y: auto;
}

.job-card {
    margin: 5px;
    padding: 2px;
    background-color: #efefef;
}

.job-card.active {
    background-color: #e3f4ff;
}
